<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sds.em.mapper.OrdersMapper" >
  <resultMap id="BaseResultMap" type="com.sds.em.po.Orders" >
    <id column="orderId" property="orderid" jdbcType="INTEGER" />
    <result column="orderOlderId" property="orderolderid" jdbcType="INTEGER" />
    <result column="orderDate" property="orderdate" jdbcType="TIMESTAMP" />
    <result column="orderStatus" property="orderstatus" jdbcType="VARCHAR" />
    <result column="orderTotal" property="ordertotal" jdbcType="REAL" />
    <result column="ordertakePoint" property="ordertakepoint" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orderId, orderOlderId, orderDate, orderStatus, orderTotal, ordertakePoint
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sds.em.po.OrdersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orders
    where orderId = #{orderid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orders
    where orderId = #{orderid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sds.em.po.OrdersExample" >
    delete from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sds.em.po.Orders" >
    insert into orders (orderId, orderOlderId, orderDate, 
      orderStatus, orderTotal, ordertakePoint
      )
    values (#{orderid,jdbcType=INTEGER}, #{orderolderid,jdbcType=INTEGER}, #{orderdate,jdbcType=TIMESTAMP}, 
      #{orderstatus,jdbcType=VARCHAR}, #{ordertotal,jdbcType=REAL}, #{ordertakepoint,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sds.em.po.Orders" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="orderolderid != null" >
        orderOlderId,
      </if>
      <if test="orderdate != null" >
        orderDate,
      </if>
      <if test="orderstatus != null" >
        orderStatus,
      </if>
      <if test="ordertotal != null" >
        orderTotal,
      </if>
      <if test="ordertakepoint != null" >
        ordertakePoint,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="orderolderid != null" >
        #{orderolderid,jdbcType=INTEGER},
      </if>
      <if test="orderdate != null" >
        #{orderdate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderstatus != null" >
        #{orderstatus,jdbcType=VARCHAR},
      </if>
      <if test="ordertotal != null" >
        #{ordertotal,jdbcType=REAL},
      </if>
      <if test="ordertakepoint != null" >
        #{ordertakepoint,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sds.em.po.OrdersExample" resultType="java.lang.Integer" >
    select count(*) from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orders
    <set >
      <if test="record.orderid != null" >
        orderId = #{record.orderid,jdbcType=INTEGER},
      </if>
      <if test="record.orderolderid != null" >
        orderOlderId = #{record.orderolderid,jdbcType=INTEGER},
      </if>
      <if test="record.orderdate != null" >
        orderDate = #{record.orderdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderstatus != null" >
        orderStatus = #{record.orderstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.ordertotal != null" >
        orderTotal = #{record.ordertotal,jdbcType=REAL},
      </if>
      <if test="record.ordertakepoint != null" >
        ordertakePoint = #{record.ordertakepoint,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orders
    set orderId = #{record.orderid,jdbcType=INTEGER},
      orderOlderId = #{record.orderolderid,jdbcType=INTEGER},
      orderDate = #{record.orderdate,jdbcType=TIMESTAMP},
      orderStatus = #{record.orderstatus,jdbcType=VARCHAR},
      orderTotal = #{record.ordertotal,jdbcType=REAL},
      ordertakePoint = #{record.ordertakepoint,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sds.em.po.Orders" >
    update orders
    <set >
      <if test="orderolderid != null" >
        orderOlderId = #{orderolderid,jdbcType=INTEGER},
      </if>
      <if test="orderdate != null" >
        orderDate = #{orderdate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderstatus != null" >
        orderStatus = #{orderstatus,jdbcType=VARCHAR},
      </if>
      <if test="ordertotal != null" >
        orderTotal = #{ordertotal,jdbcType=REAL},
      </if>
      <if test="ordertakepoint != null" >
        ordertakePoint = #{ordertakepoint,jdbcType=REAL},
      </if>
    </set>
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sds.em.po.Orders" >
    update orders
    set orderOlderId = #{orderolderid,jdbcType=INTEGER},
      orderDate = #{orderdate,jdbcType=TIMESTAMP},
      orderStatus = #{orderstatus,jdbcType=VARCHAR},
      orderTotal = #{ordertotal,jdbcType=REAL},
      ordertakePoint = #{ordertakepoint,jdbcType=REAL}
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
  	<!-- wuwenbo,获取所有订单 -->
	<select id="getorders" resultType="com.sds.em.pojo.OrdersExtend">
		SELECT * from orders INNER JOIN olderbase
		as o on o.olderId =orders.orderOlderId
	</select>
</mapper>