
	<!-- lu 2017-10-12 录入老人基本信息，并传回id -->
	<insert id="insertOlderBase" parameterType="com.sds.em.po.Olderbase">
		<selectKey keyProperty="olderid" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into olderbase (olderName, olderSex,
		olderBirthday,
		olderPassword, olderTel,
		olderAddress, olderSingleStatus, olderIDE,
		olderNation, olderHeadUrl, olderPoint,
		olderBranchId)
		values
		(#{oldername,jdbcType=VARCHAR}, #{oldersex,jdbcType=VARCHAR},
		#{olderbirthday,jdbcType=DATE}, #{olderpassword,jdbcType=VARCHAR},
		#{oldertel,jdbcType=VARCHAR},
		#{olderaddress,jdbcType=VARCHAR},
		#{oldersinglestatus,jdbcType=VARCHAR}, #{olderide,jdbcType=VARCHAR},
		#{oldernation,jdbcType=VARCHAR}, #{olderheadurl,jdbcType=VARCHAR},
		#{olderpoint,jdbcType=INTEGER},
		#{olderbranchid,jdbcType=INTEGER})
	</insert>
