<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.mapper.UserMapper">

	<select id="queryUserById" parameterType="int" resultType="user">
		select * from users where id = #{id}
	</select>
	<select id="queryUsers"  resultType="user">
		select * from users 
	</select>
	<delete id="deleteUserById" parameterType="int">
		delete from users where id = #{id}
	</delete>
	<update id="modifyUser1" parameterType="user">
		update users set username = #{username},password=#{password} where id = #{id}
	</update>
	<update id="modifyUser" parameterType="user">
	update users
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>