<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sds.em.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.sds.em.po.Order">
    <id column="orderId" jdbcType="INTEGER" property="orderid" />
    <result column="orderOlderId" jdbcType="INTEGER" property="orderolderid" />
    <result column="orderDate" jdbcType="TIME" property="orderdate" />
    <result column="orderStatus" jdbcType="VARCHAR" property="orderstatus" />
    <result column="orderTotal" jdbcType="REAL" property="ordertotal" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    orderId, orderOlderId, orderDate, orderStatus, orderTotal
  </sql>
  <select id="selectByExample" parameterType="com.sds.em.po.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order
    where orderId = #{orderid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order
    where orderId = #{orderid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sds.em.po.OrderExample">
    delete from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sds.em.po.Order">
    insert into order (orderId, orderOlderId, orderDate, 
      orderStatus, orderTotal)
    values (#{orderid,jdbcType=INTEGER}, #{orderolderid,jdbcType=INTEGER}, #{orderdate,jdbcType=TIME}, 
      #{orderstatus,jdbcType=VARCHAR}, #{ordertotal,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.sds.em.po.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        orderId,
      </if>
      <if test="orderolderid != null">
        orderOlderId,
      </if>
      <if test="orderdate != null">
        orderDate,
      </if>
      <if test="orderstatus != null">
        orderStatus,
      </if>
      <if test="ordertotal != null">
        orderTotal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="orderolderid != null">
        #{orderolderid,jdbcType=INTEGER},
      </if>
      <if test="orderdate != null">
        #{orderdate,jdbcType=TIME},
      </if>
      <if test="orderstatus != null">
        #{orderstatus,jdbcType=VARCHAR},
      </if>
      <if test="ordertotal != null">
        #{ordertotal,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sds.em.po.OrderExample" resultType="java.lang.Integer">
    select count(*) from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order
    <set>
      <if test="record.orderid != null">
        orderId = #{record.orderid,jdbcType=INTEGER},
      </if>
      <if test="record.orderolderid != null">
        orderOlderId = #{record.orderolderid,jdbcType=INTEGER},
      </if>
      <if test="record.orderdate != null">
        orderDate = #{record.orderdate,jdbcType=TIME},
      </if>
      <if test="record.orderstatus != null">
        orderStatus = #{record.orderstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.ordertotal != null">
        orderTotal = #{record.ordertotal,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order
    set orderId = #{record.orderid,jdbcType=INTEGER},
      orderOlderId = #{record.orderolderid,jdbcType=INTEGER},
      orderDate = #{record.orderdate,jdbcType=TIME},
      orderStatus = #{record.orderstatus,jdbcType=VARCHAR},
      orderTotal = #{record.ordertotal,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sds.em.po.Order">
    update order
    <set>
      <if test="orderolderid != null">
        orderOlderId = #{orderolderid,jdbcType=INTEGER},
      </if>
      <if test="orderdate != null">
        orderDate = #{orderdate,jdbcType=TIME},
      </if>
      <if test="orderstatus != null">
        orderStatus = #{orderstatus,jdbcType=VARCHAR},
      </if>
      <if test="ordertotal != null">
        orderTotal = #{ordertotal,jdbcType=REAL},
      </if>
    </set>
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sds.em.po.Order">
    update order
    set orderOlderId = #{orderolderid,jdbcType=INTEGER},
      orderDate = #{orderdate,jdbcType=TIME},
      orderStatus = #{orderstatus,jdbcType=VARCHAR},
      orderTotal = #{ordertotal,jdbcType=REAL}
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.sds.em.po.Order">
    <id column="orderId" jdbcType="INTEGER" property="orderid" />
    <result column="orderOlderId" jdbcType="INTEGER" property="orderolderid" />
    <result column="orderDate" jdbcType="TIME" property="orderdate" />
    <result column="orderStatus" jdbcType="VARCHAR" property="orderstatus" />
    <result column="orderTotal" jdbcType="REAL" property="ordertotal" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    orderId, orderOlderId, orderDate, orderStatus, orderTotal
  </sql>
  <select id="selectByExample" parameterType="com.sds.em.po.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order
    where orderId = #{orderid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order
    where orderId = #{orderid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sds.em.po.OrderExample">
    delete from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sds.em.po.Order">
    insert into order (orderId, orderOlderId, orderDate, 
      orderStatus, orderTotal)
    values (#{orderid,jdbcType=INTEGER}, #{orderolderid,jdbcType=INTEGER}, #{orderdate,jdbcType=TIME}, 
      #{orderstatus,jdbcType=VARCHAR}, #{ordertotal,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.sds.em.po.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        orderId,
      </if>
      <if test="orderolderid != null">
        orderOlderId,
      </if>
      <if test="orderdate != null">
        orderDate,
      </if>
      <if test="orderstatus != null">
        orderStatus,
      </if>
      <if test="ordertotal != null">
        orderTotal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="orderolderid != null">
        #{orderolderid,jdbcType=INTEGER},
      </if>
      <if test="orderdate != null">
        #{orderdate,jdbcType=TIME},
      </if>
      <if test="orderstatus != null">
        #{orderstatus,jdbcType=VARCHAR},
      </if>
      <if test="ordertotal != null">
        #{ordertotal,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sds.em.po.OrderExample" resultType="java.lang.Integer">
    select count(*) from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order
    <set>
      <if test="record.orderid != null">
        orderId = #{record.orderid,jdbcType=INTEGER},
      </if>
      <if test="record.orderolderid != null">
        orderOlderId = #{record.orderolderid,jdbcType=INTEGER},
      </if>
      <if test="record.orderdate != null">
        orderDate = #{record.orderdate,jdbcType=TIME},
      </if>
      <if test="record.orderstatus != null">
        orderStatus = #{record.orderstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.ordertotal != null">
        orderTotal = #{record.ordertotal,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order
    set orderId = #{record.orderid,jdbcType=INTEGER},
      orderOlderId = #{record.orderolderid,jdbcType=INTEGER},
      orderDate = #{record.orderdate,jdbcType=TIME},
      orderStatus = #{record.orderstatus,jdbcType=VARCHAR},
      orderTotal = #{record.ordertotal,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sds.em.po.Order">
    update order
    <set>
      <if test="orderolderid != null">
        orderOlderId = #{orderolderid,jdbcType=INTEGER},
      </if>
      <if test="orderdate != null">
        orderDate = #{orderdate,jdbcType=TIME},
      </if>
      <if test="orderstatus != null">
        orderStatus = #{orderstatus,jdbcType=VARCHAR},
      </if>
      <if test="ordertotal != null">
        orderTotal = #{ordertotal,jdbcType=REAL},
      </if>
    </set>
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sds.em.po.Order">
    update order
    set orderOlderId = #{orderolderid,jdbcType=INTEGER},
      orderDate = #{orderdate,jdbcType=TIME},
      orderStatus = #{orderstatus,jdbcType=VARCHAR},
      orderTotal = #{ordertotal,jdbcType=REAL}
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
</mapper>