<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sds.em.mapper.UrlresourcesMapper">
  <resultMap id="BaseResultMap" type="com.sds.em.po.Urlresources">
    <id column="resourcesId" jdbcType="INTEGER" property="resourcesid" />
    <result column="resourcesDroitId" jdbcType="INTEGER" property="resourcesdroitid" />
    <result column="resourcesName" jdbcType="VARCHAR" property="resourcesname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    resourcesId, resourcesDroitId, resourcesName
  </sql>
  <select id="selectByExample" parameterType="com.sds.em.po.UrlresourcesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from urlresources
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from urlresources
    where resourcesId = #{resourcesid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from urlresources
    where resourcesId = #{resourcesid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sds.em.po.UrlresourcesExample">
    delete from urlresources
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sds.em.po.Urlresources">
    insert into urlresources (resourcesId, resourcesDroitId, resourcesName
      )
    values (#{resourcesid,jdbcType=INTEGER}, #{resourcesdroitid,jdbcType=INTEGER}, #{resourcesname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sds.em.po.Urlresources">
    insert into urlresources
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resourcesid != null">
        resourcesId,
      </if>
      <if test="resourcesdroitid != null">
        resourcesDroitId,
      </if>
      <if test="resourcesname != null">
        resourcesName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resourcesid != null">
        #{resourcesid,jdbcType=INTEGER},
      </if>
      <if test="resourcesdroitid != null">
        #{resourcesdroitid,jdbcType=INTEGER},
      </if>
      <if test="resourcesname != null">
        #{resourcesname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sds.em.po.UrlresourcesExample" resultType="java.lang.Integer">
    select count(*) from urlresources
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update urlresources
    <set>
      <if test="record.resourcesid != null">
        resourcesId = #{record.resourcesid,jdbcType=INTEGER},
      </if>
      <if test="record.resourcesdroitid != null">
        resourcesDroitId = #{record.resourcesdroitid,jdbcType=INTEGER},
      </if>
      <if test="record.resourcesname != null">
        resourcesName = #{record.resourcesname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update urlresources
    set resourcesId = #{record.resourcesid,jdbcType=INTEGER},
      resourcesDroitId = #{record.resourcesdroitid,jdbcType=INTEGER},
      resourcesName = #{record.resourcesname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sds.em.po.Urlresources">
    update urlresources
    <set>
      <if test="resourcesdroitid != null">
        resourcesDroitId = #{resourcesdroitid,jdbcType=INTEGER},
      </if>
      <if test="resourcesname != null">
        resourcesName = #{resourcesname,jdbcType=VARCHAR},
      </if>
    </set>
    where resourcesId = #{resourcesid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sds.em.po.Urlresources">
    update urlresources
    set resourcesDroitId = #{resourcesdroitid,jdbcType=INTEGER},
      resourcesName = #{resourcesname,jdbcType=VARCHAR}
    where resourcesId = #{resourcesid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.sds.em.po.Urlresources">
    <id column="resourcesId" jdbcType="INTEGER" property="resourcesid" />
    <result column="resourcesDroitId" jdbcType="INTEGER" property="resourcesdroitid" />
    <result column="resourcesName" jdbcType="VARCHAR" property="resourcesname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    resourcesId, resourcesDroitId, resourcesName
  </sql>
  <select id="selectByExample" parameterType="com.sds.em.po.UrlresourcesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from urlresources
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from urlresources
    where resourcesId = #{resourcesid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from urlresources
    where resourcesId = #{resourcesid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sds.em.po.UrlresourcesExample">
    delete from urlresources
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sds.em.po.Urlresources">
    insert into urlresources (resourcesId, resourcesDroitId, resourcesName
      )
    values (#{resourcesid,jdbcType=INTEGER}, #{resourcesdroitid,jdbcType=INTEGER}, #{resourcesname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sds.em.po.Urlresources">
    insert into urlresources
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resourcesid != null">
        resourcesId,
      </if>
      <if test="resourcesdroitid != null">
        resourcesDroitId,
      </if>
      <if test="resourcesname != null">
        resourcesName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resourcesid != null">
        #{resourcesid,jdbcType=INTEGER},
      </if>
      <if test="resourcesdroitid != null">
        #{resourcesdroitid,jdbcType=INTEGER},
      </if>
      <if test="resourcesname != null">
        #{resourcesname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sds.em.po.UrlresourcesExample" resultType="java.lang.Integer">
    select count(*) from urlresources
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update urlresources
    <set>
      <if test="record.resourcesid != null">
        resourcesId = #{record.resourcesid,jdbcType=INTEGER},
      </if>
      <if test="record.resourcesdroitid != null">
        resourcesDroitId = #{record.resourcesdroitid,jdbcType=INTEGER},
      </if>
      <if test="record.resourcesname != null">
        resourcesName = #{record.resourcesname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update urlresources
    set resourcesId = #{record.resourcesid,jdbcType=INTEGER},
      resourcesDroitId = #{record.resourcesdroitid,jdbcType=INTEGER},
      resourcesName = #{record.resourcesname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sds.em.po.Urlresources">
    update urlresources
    <set>
      <if test="resourcesdroitid != null">
        resourcesDroitId = #{resourcesdroitid,jdbcType=INTEGER},
      </if>
      <if test="resourcesname != null">
        resourcesName = #{resourcesname,jdbcType=VARCHAR},
      </if>
    </set>
    where resourcesId = #{resourcesid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sds.em.po.Urlresources">
    update urlresources
    set resourcesDroitId = #{resourcesdroitid,jdbcType=INTEGER},
      resourcesName = #{resourcesname,jdbcType=VARCHAR}
    where resourcesId = #{resourcesid,jdbcType=INTEGER}
  </update>
</mapper>