<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sds.em.mapper.ActionMapper" >
  <resultMap id="BaseResultMap" type="com.sds.em.po.Action" >
    <id column="actionId" property="actionid" jdbcType="INTEGER" />
    <result column="actionStartDate" property="actionstartdate" jdbcType="DATE" />
    <result column="actionIntro" property="actionintro" jdbcType="VARCHAR" />
    <result column="actionName" property="actionname" jdbcType="VARCHAR" />
    <result column="actionAddress" property="actionaddress" jdbcType="VARCHAR" />
    <result column="actionStatus" property="actionstatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    actionId, actionStartDate, actionIntro, actionName, actionAddress, actionStatus
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sds.em.po.ActionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from action
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from action
    where actionId = #{actionid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from action
    where actionId = #{actionid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sds.em.po.ActionExample" >
    delete from action
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sds.em.po.Action" >
    insert into action (actionId, actionStartDate, actionIntro, 
      actionName, actionAddress, actionStatus
      )
    values (#{actionid,jdbcType=INTEGER}, #{actionstartdate,jdbcType=DATE}, #{actionintro,jdbcType=VARCHAR}, 
      #{actionname,jdbcType=VARCHAR}, #{actionaddress,jdbcType=VARCHAR}, #{actionstatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sds.em.po.Action" >
    insert into action
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="actionid != null" >
        actionId,
      </if>
      <if test="actionstartdate != null" >
        actionStartDate,
      </if>
      <if test="actionintro != null" >
        actionIntro,
      </if>
      <if test="actionname != null" >
        actionName,
      </if>
      <if test="actionaddress != null" >
        actionAddress,
      </if>
      <if test="actionstatus != null" >
        actionStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="actionid != null" >
        #{actionid,jdbcType=INTEGER},
      </if>
      <if test="actionstartdate != null" >
        #{actionstartdate,jdbcType=DATE},
      </if>
      <if test="actionintro != null" >
        #{actionintro,jdbcType=VARCHAR},
      </if>
      <if test="actionname != null" >
        #{actionname,jdbcType=VARCHAR},
      </if>
      <if test="actionaddress != null" >
        #{actionaddress,jdbcType=VARCHAR},
      </if>
      <if test="actionstatus != null" >
        #{actionstatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sds.em.po.ActionExample" resultType="java.lang.Integer" >
    select count(*) from action
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update action
    <set >
      <if test="record.actionid != null" >
        actionId = #{record.actionid,jdbcType=INTEGER},
      </if>
      <if test="record.actionstartdate != null" >
        actionStartDate = #{record.actionstartdate,jdbcType=DATE},
      </if>
      <if test="record.actionintro != null" >
        actionIntro = #{record.actionintro,jdbcType=VARCHAR},
      </if>
      <if test="record.actionname != null" >
        actionName = #{record.actionname,jdbcType=VARCHAR},
      </if>
      <if test="record.actionaddress != null" >
        actionAddress = #{record.actionaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.actionstatus != null" >
        actionStatus = #{record.actionstatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update action
    set actionId = #{record.actionid,jdbcType=INTEGER},
      actionStartDate = #{record.actionstartdate,jdbcType=DATE},
      actionIntro = #{record.actionintro,jdbcType=VARCHAR},
      actionName = #{record.actionname,jdbcType=VARCHAR},
      actionAddress = #{record.actionaddress,jdbcType=VARCHAR},
      actionStatus = #{record.actionstatus,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sds.em.po.Action" >
    update action
    <set >
      <if test="actionstartdate != null" >
        actionStartDate = #{actionstartdate,jdbcType=DATE},
      </if>
      <if test="actionintro != null" >
        actionIntro = #{actionintro,jdbcType=VARCHAR},
      </if>
      <if test="actionname != null" >
        actionName = #{actionname,jdbcType=VARCHAR},
      </if>
      <if test="actionaddress != null" >
        actionAddress = #{actionaddress,jdbcType=VARCHAR},
      </if>
      <if test="actionstatus != null" >
        actionStatus = #{actionstatus,jdbcType=INTEGER},
      </if>
    </set>
    where actionId = #{actionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sds.em.po.Action" >
    update action
    set actionStartDate = #{actionstartdate,jdbcType=DATE},
      actionIntro = #{actionintro,jdbcType=VARCHAR},
      actionName = #{actionname,jdbcType=VARCHAR},
      actionAddress = #{actionaddress,jdbcType=VARCHAR},
      actionStatus = #{actionstatus,jdbcType=INTEGER}
    where actionId = #{actionid,jdbcType=INTEGER}
  </update>
</mapper>