<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sds.em.mapper.DroitMapper" >
  <resultMap id="BaseResultMap" type="com.sds.em.po.Droit" >
    <id column="droitId" property="droitid" jdbcType="INTEGER" />
    <result column="droitName" property="droitname" jdbcType="VARCHAR" />
    <result column="droitRoleId" property="droitroleid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    droitId, droitName, droitRoleId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sds.em.po.DroitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from droit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from droit
    where droitId = #{droitid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from droit
    where droitId = #{droitid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sds.em.po.DroitExample" >
    delete from droit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sds.em.po.Droit" >
    insert into droit (droitId, droitName, droitRoleId
      )
    values (#{droitid,jdbcType=INTEGER}, #{droitname,jdbcType=VARCHAR}, #{droitroleid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sds.em.po.Droit" >
    insert into droit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="droitid != null" >
        droitId,
      </if>
      <if test="droitname != null" >
        droitName,
      </if>
      <if test="droitroleid != null" >
        droitRoleId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="droitid != null" >
        #{droitid,jdbcType=INTEGER},
      </if>
      <if test="droitname != null" >
        #{droitname,jdbcType=VARCHAR},
      </if>
      <if test="droitroleid != null" >
        #{droitroleid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sds.em.po.DroitExample" resultType="java.lang.Integer" >
    select count(*) from droit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update droit
    <set >
      <if test="record.droitid != null" >
        droitId = #{record.droitid,jdbcType=INTEGER},
      </if>
      <if test="record.droitname != null" >
        droitName = #{record.droitname,jdbcType=VARCHAR},
      </if>
      <if test="record.droitroleid != null" >
        droitRoleId = #{record.droitroleid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update droit
    set droitId = #{record.droitid,jdbcType=INTEGER},
      droitName = #{record.droitname,jdbcType=VARCHAR},
      droitRoleId = #{record.droitroleid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sds.em.po.Droit" >
    update droit
    <set >
      <if test="droitname != null" >
        droitName = #{droitname,jdbcType=VARCHAR},
      </if>
      <if test="droitroleid != null" >
        droitRoleId = #{droitroleid,jdbcType=INTEGER},
      </if>
    </set>
    where droitId = #{droitid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sds.em.po.Droit" >
    update droit
    set droitName = #{droitname,jdbcType=VARCHAR},
      droitRoleId = #{droitroleid,jdbcType=INTEGER}
    where droitId = #{droitid,jdbcType=INTEGER}
  </update>
</mapper>