<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sds.em.mapper.NewsMapper" >
  <resultMap id="BaseResultMap" type="com.sds.em.po.News" >
    <id column="newsId" property="newsid" jdbcType="INTEGER" />
    <result column="newsTitle" property="newstitle" jdbcType="VARCHAR" />
    <result column="newsType" property="newstype" jdbcType="VARCHAR" />
    <result column="newsImg" property="newsimg" jdbcType="VARCHAR" />
    <result column="newsEditorId" property="newseditorid" jdbcType="INTEGER" />
    <result column="newsIssuedDate" property="newsissueddate" jdbcType="DATE" />
    <result column="newsIntro" property="newsintro" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sds.em.po.News" extends="BaseResultMap" >
    <result column="newsContent" property="newscontent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    newsId, newsTitle, newsType, newsImg, newsEditorId, newsIssuedDate, newsIntro
  </sql>
  <sql id="Blob_Column_List" >
    newsContent
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.sds.em.po.NewsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sds.em.po.NewsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news
    where newsId = #{newsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from news
    where newsId = #{newsid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sds.em.po.NewsExample" >
    delete from news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sds.em.po.News" >
    insert into news (newsId, newsTitle, newsType, 
      newsImg, newsEditorId, newsIssuedDate, 
      newsIntro, newsContent)
    values (#{newsid,jdbcType=INTEGER}, #{newstitle,jdbcType=VARCHAR}, #{newstype,jdbcType=VARCHAR}, 
      #{newsimg,jdbcType=VARCHAR}, #{newseditorid,jdbcType=INTEGER}, #{newsissueddate,jdbcType=DATE}, 
      #{newsintro,jdbcType=VARCHAR}, #{newscontent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sds.em.po.News" >
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newsid != null" >
        newsId,
      </if>
      <if test="newstitle != null" >
        newsTitle,
      </if>
      <if test="newstype != null" >
        newsType,
      </if>
      <if test="newsimg != null" >
        newsImg,
      </if>
      <if test="newseditorid != null" >
        newsEditorId,
      </if>
      <if test="newsissueddate != null" >
        newsIssuedDate,
      </if>
      <if test="newsintro != null" >
        newsIntro,
      </if>
      <if test="newscontent != null" >
        newsContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newsid != null" >
        #{newsid,jdbcType=INTEGER},
      </if>
      <if test="newstitle != null" >
        #{newstitle,jdbcType=VARCHAR},
      </if>
      <if test="newstype != null" >
        #{newstype,jdbcType=VARCHAR},
      </if>
      <if test="newsimg != null" >
        #{newsimg,jdbcType=VARCHAR},
      </if>
      <if test="newseditorid != null" >
        #{newseditorid,jdbcType=INTEGER},
      </if>
      <if test="newsissueddate != null" >
        #{newsissueddate,jdbcType=DATE},
      </if>
      <if test="newsintro != null" >
        #{newsintro,jdbcType=VARCHAR},
      </if>
      <if test="newscontent != null" >
        #{newscontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sds.em.po.NewsExample" resultType="java.lang.Integer" >
    select count(*) from news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update news
    <set >
      <if test="record.newsid != null" >
        newsId = #{record.newsid,jdbcType=INTEGER},
      </if>
      <if test="record.newstitle != null" >
        newsTitle = #{record.newstitle,jdbcType=VARCHAR},
      </if>
      <if test="record.newstype != null" >
        newsType = #{record.newstype,jdbcType=VARCHAR},
      </if>
      <if test="record.newsimg != null" >
        newsImg = #{record.newsimg,jdbcType=VARCHAR},
      </if>
      <if test="record.newseditorid != null" >
        newsEditorId = #{record.newseditorid,jdbcType=INTEGER},
      </if>
      <if test="record.newsissueddate != null" >
        newsIssuedDate = #{record.newsissueddate,jdbcType=DATE},
      </if>
      <if test="record.newsintro != null" >
        newsIntro = #{record.newsintro,jdbcType=VARCHAR},
      </if>
      <if test="record.newscontent != null" >
        newsContent = #{record.newscontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update news
    set newsId = #{record.newsid,jdbcType=INTEGER},
      newsTitle = #{record.newstitle,jdbcType=VARCHAR},
      newsType = #{record.newstype,jdbcType=VARCHAR},
      newsImg = #{record.newsimg,jdbcType=VARCHAR},
      newsEditorId = #{record.newseditorid,jdbcType=INTEGER},
      newsIssuedDate = #{record.newsissueddate,jdbcType=DATE},
      newsIntro = #{record.newsintro,jdbcType=VARCHAR},
      newsContent = #{record.newscontent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update news
    set newsId = #{record.newsid,jdbcType=INTEGER},
      newsTitle = #{record.newstitle,jdbcType=VARCHAR},
      newsType = #{record.newstype,jdbcType=VARCHAR},
      newsImg = #{record.newsimg,jdbcType=VARCHAR},
      newsEditorId = #{record.newseditorid,jdbcType=INTEGER},
      newsIssuedDate = #{record.newsissueddate,jdbcType=DATE},
      newsIntro = #{record.newsintro,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sds.em.po.News" >
    update news
    <set >
      <if test="newstitle != null" >
        newsTitle = #{newstitle,jdbcType=VARCHAR},
      </if>
      <if test="newstype != null" >
        newsType = #{newstype,jdbcType=VARCHAR},
      </if>
      <if test="newsimg != null" >
        newsImg = #{newsimg,jdbcType=VARCHAR},
      </if>
      <if test="newseditorid != null" >
        newsEditorId = #{newseditorid,jdbcType=INTEGER},
      </if>
      <if test="newsissueddate != null" >
        newsIssuedDate = #{newsissueddate,jdbcType=DATE},
      </if>
      <if test="newsintro != null" >
        newsIntro = #{newsintro,jdbcType=VARCHAR},
      </if>
      <if test="newscontent != null" >
        newsContent = #{newscontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where newsId = #{newsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sds.em.po.News" >
    update news
    set newsTitle = #{newstitle,jdbcType=VARCHAR},
      newsType = #{newstype,jdbcType=VARCHAR},
      newsImg = #{newsimg,jdbcType=VARCHAR},
      newsEditorId = #{newseditorid,jdbcType=INTEGER},
      newsIssuedDate = #{newsissueddate,jdbcType=DATE},
      newsIntro = #{newsintro,jdbcType=VARCHAR},
      newsContent = #{newscontent,jdbcType=LONGVARCHAR}
    where newsId = #{newsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sds.em.po.News" >
    update news
    set newsTitle = #{newstitle,jdbcType=VARCHAR},
      newsType = #{newstype,jdbcType=VARCHAR},
      newsImg = #{newsimg,jdbcType=VARCHAR},
      newsEditorId = #{newseditorid,jdbcType=INTEGER},
      newsIssuedDate = #{newsissueddate,jdbcType=DATE},
      newsIntro = #{newsintro,jdbcType=VARCHAR}
    where newsId = #{newsid,jdbcType=INTEGER}
  </update>
</mapper>