<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sds.em.mapper.ProductpiclistMapper" >
  <resultMap id="BaseResultMap" type="com.sds.em.po.Productpiclist" >
    <id column="ppicId" property="ppicid" jdbcType="INTEGER" />
    <result column="pproductid" property="pproductid" jdbcType="INTEGER" />
    <result column="ppicUrl" property="ppicurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ppicId, pproductid, ppicUrl
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sds.em.po.ProductpiclistExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from productpiclist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from productpiclist
    where ppicId = #{ppicid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from productpiclist
    where ppicId = #{ppicid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sds.em.po.ProductpiclistExample" >
    delete from productpiclist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sds.em.po.Productpiclist" >
    insert into productpiclist (ppicId, pproductid, ppicUrl
      )
    values (#{ppicid,jdbcType=INTEGER}, #{pproductid,jdbcType=INTEGER}, #{ppicurl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sds.em.po.Productpiclist" >
    insert into productpiclist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ppicid != null" >
        ppicId,
      </if>
      <if test="pproductid != null" >
        pproductid,
      </if>
      <if test="ppicurl != null" >
        ppicUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ppicid != null" >
        #{ppicid,jdbcType=INTEGER},
      </if>
      <if test="pproductid != null" >
        #{pproductid,jdbcType=INTEGER},
      </if>
      <if test="ppicurl != null" >
        #{ppicurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sds.em.po.ProductpiclistExample" resultType="java.lang.Integer" >
    select count(*) from productpiclist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update productpiclist
    <set >
      <if test="record.ppicid != null" >
        ppicId = #{record.ppicid,jdbcType=INTEGER},
      </if>
      <if test="record.pproductid != null" >
        pproductid = #{record.pproductid,jdbcType=INTEGER},
      </if>
      <if test="record.ppicurl != null" >
        ppicUrl = #{record.ppicurl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update productpiclist
    set ppicId = #{record.ppicid,jdbcType=INTEGER},
      pproductid = #{record.pproductid,jdbcType=INTEGER},
      ppicUrl = #{record.ppicurl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sds.em.po.Productpiclist" >
    update productpiclist
    <set >
      <if test="pproductid != null" >
        pproductid = #{pproductid,jdbcType=INTEGER},
      </if>
      <if test="ppicurl != null" >
        ppicUrl = #{ppicurl,jdbcType=VARCHAR},
      </if>
    </set>
    where ppicId = #{ppicid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sds.em.po.Productpiclist" >
    update productpiclist
    set pproductid = #{pproductid,jdbcType=INTEGER},
      ppicUrl = #{ppicurl,jdbcType=VARCHAR}
    where ppicId = #{ppicid,jdbcType=INTEGER}
  </update>
</mapper>