<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sds.em.mapper.ProductstoreMapper">
	<resultMap id="BaseResultMap" type="com.sds.em.po.Productstore">
		<id column="storeId" property="storeid" jdbcType="INTEGER" />
		<result column="storeProductId" property="storeproductid"
			jdbcType="INTEGER" />
		<result column="storeCount" property="storecount" jdbcType="INTEGER" />
		<result column="storeDayBrowse" property="storedaybrowse"
			jdbcType="INTEGER" />
		<result column="storeMonthBrowse" property="storemonthbrowse"
			jdbcType="INTEGER" />
		<result column="storeYearBrowse" property="storeyearbrowse"
			jdbcType="INTEGER" />
		<result column="storeTotalBrowse" property="storetotalbrowse"
			jdbcType="INTEGER" />
		<result column="storeDaySales" property="storedaysales"
			jdbcType="INTEGER" />
		<result column="storeMonthSales" property="storemonthsales"
			jdbcType="INTEGER" />
		<result column="storeYearSales" property="storeyearsales"
			jdbcType="INTEGER" />
		<result column="storeTotalSales" property="storetotalsales"
			jdbcType="INTEGER" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		storeId, storeProductId, storeCount, storeDayBrowse, storeMonthBrowse,
		storeYearBrowse,
		storeTotalBrowse, storeDaySales, storeMonthSales, storeYearSales, storeTotalSales
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.sds.em.po.ProductstoreExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from productstore
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from productstore
		where storeId = #{storeid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from productstore
		where storeId = #{storeid,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.sds.em.po.ProductstoreExample">
		delete from productstore
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.sds.em.po.Productstore">
		insert into productstore (storeId, storeProductId, storeCount,
		storeDayBrowse, storeMonthBrowse, storeYearBrowse,
		storeTotalBrowse, storeDaySales, storeMonthSales,
		storeYearSales, storeTotalSales)
		values (#{storeid,jdbcType=INTEGER}, #{storeproductid,jdbcType=INTEGER},
		#{storecount,jdbcType=INTEGER},
		#{storedaybrowse,jdbcType=INTEGER}, #{storemonthbrowse,jdbcType=INTEGER},
		#{storeyearbrowse,jdbcType=INTEGER},
		#{storetotalbrowse,jdbcType=INTEGER},
		#{storedaysales,jdbcType=INTEGER},
		#{storemonthsales,jdbcType=INTEGER},
		#{storeyearsales,jdbcType=INTEGER},
		#{storetotalsales,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.sds.em.po.Productstore">
		insert into productstore
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="storeid != null">
				storeId,
			</if>
			<if test="storeproductid != null">
				storeProductId,
			</if>
			<if test="storecount != null">
				storeCount,
			</if>
			<if test="storedaybrowse != null">
				storeDayBrowse,
			</if>
			<if test="storemonthbrowse != null">
				storeMonthBrowse,
			</if>
			<if test="storeyearbrowse != null">
				storeYearBrowse,
			</if>
			<if test="storetotalbrowse != null">
				storeTotalBrowse,
			</if>
			<if test="storedaysales != null">
				storeDaySales,
			</if>
			<if test="storemonthsales != null">
				storeMonthSales,
			</if>
			<if test="storeyearsales != null">
				storeYearSales,
			</if>
			<if test="storetotalsales != null">
				storeTotalSales,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="storeid != null">
				#{storeid,jdbcType=INTEGER},
			</if>
			<if test="storeproductid != null">
				#{storeproductid,jdbcType=INTEGER},
			</if>
			<if test="storecount != null">
				#{storecount,jdbcType=INTEGER},
			</if>
			<if test="storedaybrowse != null">
				#{storedaybrowse,jdbcType=INTEGER},
			</if>
			<if test="storemonthbrowse != null">
				#{storemonthbrowse,jdbcType=INTEGER},
			</if>
			<if test="storeyearbrowse != null">
				#{storeyearbrowse,jdbcType=INTEGER},
			</if>
			<if test="storetotalbrowse != null">
				#{storetotalbrowse,jdbcType=INTEGER},
			</if>
			<if test="storedaysales != null">
				#{storedaysales,jdbcType=INTEGER},
			</if>
			<if test="storemonthsales != null">
				#{storemonthsales,jdbcType=INTEGER},
			</if>
			<if test="storeyearsales != null">
				#{storeyearsales,jdbcType=INTEGER},
			</if>
			<if test="storetotalsales != null">
				#{storetotalsales,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.sds.em.po.ProductstoreExample"
		resultType="java.lang.Integer">
		select count(*) from productstore
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update productstore
		<set>
			<if test="record.storeid != null">
				storeId = #{record.storeid,jdbcType=INTEGER},
			</if>
			<if test="record.storeproductid != null">
				storeProductId = #{record.storeproductid,jdbcType=INTEGER},
			</if>
			<if test="record.storecount != null">
				storeCount = #{record.storecount,jdbcType=INTEGER},
			</if>
			<if test="record.storedaybrowse != null">
				storeDayBrowse = #{record.storedaybrowse,jdbcType=INTEGER},
			</if>
			<if test="record.storemonthbrowse != null">
				storeMonthBrowse = #{record.storemonthbrowse,jdbcType=INTEGER},
			</if>
			<if test="record.storeyearbrowse != null">
				storeYearBrowse = #{record.storeyearbrowse,jdbcType=INTEGER},
			</if>
			<if test="record.storetotalbrowse != null">
				storeTotalBrowse = #{record.storetotalbrowse,jdbcType=INTEGER},
			</if>
			<if test="record.storedaysales != null">
				storeDaySales = #{record.storedaysales,jdbcType=INTEGER},
			</if>
			<if test="record.storemonthsales != null">
				storeMonthSales = #{record.storemonthsales,jdbcType=INTEGER},
			</if>
			<if test="record.storeyearsales != null">
				storeYearSales = #{record.storeyearsales,jdbcType=INTEGER},
			</if>
			<if test="record.storetotalsales != null">
				storeTotalSales = #{record.storetotalsales,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update productstore
		set storeId = #{record.storeid,jdbcType=INTEGER},
		storeProductId = #{record.storeproductid,jdbcType=INTEGER},
		storeCount = #{record.storecount,jdbcType=INTEGER},
		storeDayBrowse = #{record.storedaybrowse,jdbcType=INTEGER},
		storeMonthBrowse = #{record.storemonthbrowse,jdbcType=INTEGER},
		storeYearBrowse = #{record.storeyearbrowse,jdbcType=INTEGER},
		storeTotalBrowse = #{record.storetotalbrowse,jdbcType=INTEGER},
		storeDaySales = #{record.storedaysales,jdbcType=INTEGER},
		storeMonthSales = #{record.storemonthsales,jdbcType=INTEGER},
		storeYearSales = #{record.storeyearsales,jdbcType=INTEGER},
		storeTotalSales = #{record.storetotalsales,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.sds.em.po.Productstore">
		update productstore
		<set>
			<if test="storeproductid != null">
				storeProductId = #{storeproductid,jdbcType=INTEGER},
			</if>
			<if test="storecount != null">
				storeCount = #{storecount,jdbcType=INTEGER},
			</if>
			<if test="storedaybrowse != null">
				storeDayBrowse = #{storedaybrowse,jdbcType=INTEGER},
			</if>
			<if test="storemonthbrowse != null">
				storeMonthBrowse = #{storemonthbrowse,jdbcType=INTEGER},
			</if>
			<if test="storeyearbrowse != null">
				storeYearBrowse = #{storeyearbrowse,jdbcType=INTEGER},
			</if>
			<if test="storetotalbrowse != null">
				storeTotalBrowse = #{storetotalbrowse,jdbcType=INTEGER},
			</if>
			<if test="storedaysales != null">
				storeDaySales = #{storedaysales,jdbcType=INTEGER},
			</if>
			<if test="storemonthsales != null">
				storeMonthSales = #{storemonthsales,jdbcType=INTEGER},
			</if>
			<if test="storeyearsales != null">
				storeYearSales = #{storeyearsales,jdbcType=INTEGER},
			</if>
			<if test="storetotalsales != null">
				storeTotalSales = #{storetotalsales,jdbcType=INTEGER},
			</if>
		</set>
		where storeId = #{storeid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sds.em.po.Productstore">
		update productstore
		set storeProductId = #{storeproductid,jdbcType=INTEGER},
		storeCount = #{storecount,jdbcType=INTEGER},
		storeDayBrowse = #{storedaybrowse,jdbcType=INTEGER},
		storeMonthBrowse = #{storemonthbrowse,jdbcType=INTEGER},
		storeYearBrowse = #{storeyearbrowse,jdbcType=INTEGER},
		storeTotalBrowse = #{storetotalbrowse,jdbcType=INTEGER},
		storeDaySales = #{storedaysales,jdbcType=INTEGER},
		storeMonthSales = #{storemonthsales,jdbcType=INTEGER},
		storeYearSales = #{storeyearsales,jdbcType=INTEGER},
		storeTotalSales = #{storetotalsales,jdbcType=INTEGER}
		where storeId = #{storeid,jdbcType=INTEGER}
	</update>

	<!-- wuwenbo,查看库存 -->
	<select id="getproductstore" resultType="com.sds.em.pojo.ProductstoreExtend">

		SELECT * from productstore as ps INNER JOIN product as p on
		p.productId=ps.storeProductId

	</select>
</mapper>