<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sds.em.mapper.VideorecordMapper" >
  <resultMap id="BaseResultMap" type="com.sds.em.po.Videorecord" >
    <id column="vRecordId" property="vrecordid" jdbcType="INTEGER" />
    <result column="vRecordOlderId" property="vrecordolderid" jdbcType="INTEGER" />
    <result column="vRecordVideoId" property="vrecordvideoid" jdbcType="INTEGER" />
    <result column="vRecordDate" property="vrecorddate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    vRecordId, vRecordOlderId, vRecordVideoId, vRecordDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sds.em.po.VideorecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from videorecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from videorecord
    where vRecordId = #{vrecordid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from videorecord
    where vRecordId = #{vrecordid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sds.em.po.VideorecordExample" >
    delete from videorecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sds.em.po.Videorecord" >
    insert into videorecord (vRecordId, vRecordOlderId, vRecordVideoId, 
      vRecordDate)
    values (#{vrecordid,jdbcType=INTEGER}, #{vrecordolderid,jdbcType=INTEGER}, #{vrecordvideoid,jdbcType=INTEGER}, 
      #{vrecorddate,jdbcType=TIME})
  </insert>
  <insert id="insertSelective" parameterType="com.sds.em.po.Videorecord" >
    insert into videorecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vrecordid != null" >
        vRecordId,
      </if>
      <if test="vrecordolderid != null" >
        vRecordOlderId,
      </if>
      <if test="vrecordvideoid != null" >
        vRecordVideoId,
      </if>
      <if test="vrecorddate != null" >
        vRecordDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vrecordid != null" >
        #{vrecordid,jdbcType=INTEGER},
      </if>
      <if test="vrecordolderid != null" >
        #{vrecordolderid,jdbcType=INTEGER},
      </if>
      <if test="vrecordvideoid != null" >
        #{vrecordvideoid,jdbcType=INTEGER},
      </if>
      <if test="vrecorddate != null" >
        #{vrecorddate,jdbcType=TIME},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sds.em.po.VideorecordExample" resultType="java.lang.Integer" >
    select count(*) from videorecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update videorecord
    <set >
      <if test="record.vrecordid != null" >
        vRecordId = #{record.vrecordid,jdbcType=INTEGER},
      </if>
      <if test="record.vrecordolderid != null" >
        vRecordOlderId = #{record.vrecordolderid,jdbcType=INTEGER},
      </if>
      <if test="record.vrecordvideoid != null" >
        vRecordVideoId = #{record.vrecordvideoid,jdbcType=INTEGER},
      </if>
      <if test="record.vrecorddate != null" >
        vRecordDate = #{record.vrecorddate,jdbcType=TIME},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update videorecord
    set vRecordId = #{record.vrecordid,jdbcType=INTEGER},
      vRecordOlderId = #{record.vrecordolderid,jdbcType=INTEGER},
      vRecordVideoId = #{record.vrecordvideoid,jdbcType=INTEGER},
      vRecordDate = #{record.vrecorddate,jdbcType=TIME}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sds.em.po.Videorecord" >
    update videorecord
    <set >
      <if test="vrecordolderid != null" >
        vRecordOlderId = #{vrecordolderid,jdbcType=INTEGER},
      </if>
      <if test="vrecordvideoid != null" >
        vRecordVideoId = #{vrecordvideoid,jdbcType=INTEGER},
      </if>
      <if test="vrecorddate != null" >
        vRecordDate = #{vrecorddate,jdbcType=TIME},
      </if>
    </set>
    where vRecordId = #{vrecordid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sds.em.po.Videorecord" >
    update videorecord
    set vRecordOlderId = #{vrecordolderid,jdbcType=INTEGER},
      vRecordVideoId = #{vrecordvideoid,jdbcType=INTEGER},
      vRecordDate = #{vrecorddate,jdbcType=TIME}
    where vRecordId = #{vrecordid,jdbcType=INTEGER}
  </update>
    
</mapper>