<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">

	<bean id="BrenchService" class="com.sds.em.service.impl.BrenchServiceImpl" />
	<bean id="IndexService" class="com.sds.em.service.impl.IndexServiceImpl" />
	<bean id="CourseService" class="com.sds.em.service.impl.CourseServiceImpl" />
	<bean id="NewsService" class="com.sds.em.service.impl.NewsServiceImpl" />
	<bean id="ShiroService" class="com.sds.em.service.impl.ShiroServiceImpl" />
	<bean id="HeadOfficeService" class="com.sds.em.service.impl.HeadOfficeServiceImpl" />
	<bean id="VideoService" class="com.sds.em.service.impl.VideoServiceImpl" />
	<bean id="PersonalCenterService" class="com.sds.em.service.impl.PersonalCenterServiceImpl" />
	<bean id="OlderShopService" class="com.sds.em.service.impl.OlderShopServiceImpl" />
	<bean id="ShopViewFrontService" class="com.sds.em.service.impl.ShopViewFrontServiceImpl" />

	<!-- <bean id="HealthyNewsFrontService" class="com.sds.em.service.impl.HealthyNewsFrontImpl"/> -->

	<bean id="DataStatisticsService" class="com.sds.em.service.impl.DataStatisticsServiceImpl" />
	<bean id="ShopPayFrontService" class="com.sds.em.service.impl.ShopPayFrontServiceImpl" />

	<bean id="WeboperationService" class="com.sds.em.service.impl.WeboperationServiceImpl" />
	
	<bean id="ShopPersonalFrontService" class="com.sds.em.service.impl.ShopPersonalFrontServiceImpl" />
	
	<bean id="NewsFrontService" class="com.sds.em.service.impl.NewsFrontServiceImpl" />



</beans>