.menuzord .showhide{
	height: 60px;
	width: 30px;
	padding: 18px 0 41px;
	float: none;
}
.menuzord-responsive.menuzord {
	padding: 0 15px;
	min-height: 66px;
}
.h1, .h2, .h3, h1, h2, h3{
	margin: 0;
	padding: 0;
}
ol, ul{
	margin-bottom: 0;
}
a:focus, a:hover{
	text-decoration: none;
}

.btn-default{
	color: #33c11c;
	border-color: #33c11c;
	font-weight: 600;
}
.btn-default:hover{
	color: #ff6c00;
	border-color: #ff6c00;
	background-color: #fff;
}
.btn-default:active:hover{
	color: #ff6c00;
	border-color: #ff6c00;
	background-color: #fff;
}
.single-service-item{
	padding-left: 0px;
}
.menuzord-menu > li > a {
	color: #7aba1e;
}
.menuzord-menu > li > a:hover {
	color: #ffbc1e;
}

.tab-content li{
	list-style:none;
}

/*模态窗口*/
.btn-primary{
	background-color: #38ca1b;
	border-color: #38ca1b;
	font-size: 20px;
}
.btn-primary:hover{
	background-color: #30e60d;
	border-color: #30e60d;
}
/*内容字体大小*/
.modal-body{
	font-size: 20px;
}
/*标题大小*/
.modal-title{
	font-size: 20px;
}